:root {
  --ifm-tabs-color: var(--c-indigo-80);
  --ifm-tabs-color-active: var(--c-blue-90);

  --ifm-hover-overlay: transparent;

  --ifm-tabs-padding-horizontal: 0rem;
  --ifm-tabs-padding-vertical: 1.25rem;
}

html[data-theme='dark'] {
  --ifm-tabs-color: #fff;
  --ifm-tabs-color-active: #fff;

  --ifm-hover-overlay: transparent;
}

.tabs-container {
  ul {
    display: inline-flex;

    border-block-end: 1px solid var(--sidebar-border-c);

    gap: 1.5rem;
  }
}

.tabs__item {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 16px;
}
