.productDropdown {
  max-width: 100%;

  &Button {
    border: 1px solid var(--sidebar-border-c);
    border-radius: var(--ifm-global-radius);

    padding: 0.625rem 0.75rem;
    flex-grow: 1;

    background-color: transparent;

    display: flex;
    align-items: center;
    justify-content: space-between;

    &Start {
      display: flex;
      align-items: center;
      gap: 0.75rem;
    }
  }

  &Item {
    & + & {
      margin-block-start: 1rem;
    }

    &Link {
      padding: 0.75rem 1rem;

      display: flex;
      align-items: center;
      gap: 1rem;

      white-space: nowrap;
    }
  }

  &Start {
    padding: 2rem;

    display: flex;
    gap: 2rem;
  }

  &End {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 1.125rem 1.5rem;

    border-block-start: 1px solid var(--sidebar-border-c);
  }

  &Icons {
    display: flex;
    gap: 1rem;
  }

  :global {
    h2 {
      margin-inline-start: 1rem;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
  }
}

.productDropdownMobile {
  &Menu {
    display: flex;
    flex-direction: column;

    opacity: 0;
    pointer-events: none;

    background: var(--ifm-navbar-background-color);

    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    bottom: 0;

    width: 100%;
    height: 100%;

    &Open {
      pointer-events: all;
      opacity: 1;
    }

    &Start {
      padding-block: 2rem;

      flex-grow: 1;

      overflow-y: auto;

      padding-inline: var(--sidebar-spacing-horizontal);
    }

    &End {
      display: flex;
      align-items: center;
      justify-content: space-between;

      border-block-start: 1px solid var(--sidebar-border-c);

      padding-inline: var(--sidebar-spacing-horizontal);
      padding-block: 1rem;
    }
  }

  &Item {
    & + & {
      margin-block-start: 1rem;
    }

    &Link {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }

  &Community {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &Socials {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  :global {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    article + article {
      margin-block-start: 2rem;
    }
  }
}
