html[data-theme='light'] {
  --c-docs-card-text: var(--c-indigo-80);
  --c-docs-card-border: var(--c-indigo-30);
  --shdw-docs-card: 0px 1px 2px rgba(2, 8, 20, 0.06), 0px 2px 8px rgba(2, 8, 20, 0.08);
}

html[data-theme='dark'] {
  --c-docs-card-text: var(--ifm-font-color-base);
  --c-docs-card-border: rgba(255, 255, 255, 0.02);
  --shdw-docs-card: 0px 1px 2px rgba(255, 255, 255, 0.05), 0px 2px 8px rgba(255, 255, 255, 0.1),
    0px -1px 2px rgba(255, 255, 255, 0.05), 0px -2px 8px rgba(255, 255, 255, 0.1);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.6;

  max-width: 30em;

  color: inherit;
  background-color: var(--ifm-background-surface-color);
  border: 1px solid var(--c-docs-card-border);
  border-radius: 16px;

  height: 100%;
  width: 100%;

  transition:
    box-shadow 150ms ease-out,
    transform 150ms ease-out,
    opacity 150ms ease-out;

  overflow: hidden;

  &Disabled {
    position: relative;

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background: rgba(232, 232, 232, 0.5);
      pointer-events: none;
      content: '';
    }
  }

  &[href]:hover {
    box-shadow: var(--shdw-docs-card);
    text-decoration: none;

    .cardIconHover {
      opacity: 1;
    }
  }

  &:hover,
  &:active,
  &:focus {
    color: inherit;
  }

  &WithImage {
    grid-row: span 2;
  }

  &Image {
    width: 100%;
    height: auto;
  }

  &Container {
    padding: 1.5rem;
  }

  &IconRow {
    position: relative;
  }

  &Icon {
    width: 48px;
    height: 48px;

    margin-bottom: 1.2em;

    border-radius: 50%;
    object-fit: contain;

    &Default {
      transition: opacity 150ms ease-out;
    }

    &Hover {
      top: 0;
      position: absolute;

      opacity: 0;

      transition: opacity 150ms ease-out;
    }
  }

  &Content {
    > *:first-child {
      margin-top: 0;
    }

    > *:last-child {
      margin-bottom: 0;
    }

    > * {
      margin: 0 0 0.65em;
    }

    p {
      font-size: 0.75rem;
      color: var(--c-docs-card-text);
    }
  }

  &Header {
    margin-bottom: 0.5rem;

    > svg {
      fill: currentColor;
      height: 1em;
      margin-bottom: -0.125em;
      width: auto;
    }
  }
}
