@font-face {
  font-family: 'Inter';
  font-weight: 1 1000;
  font-display: swap;
  src: url('https://code.ionicframework.com/assets/fonts/inter/Inter-variable-ASCII-subset.woff2')
    format('woff2');
}
