html[data-theme='light'] {
  --c-admonition-title: var(--c-carbon-100);

  --c-admonition-note-bg: var(--c-yellow-10);
  --c-admonition-info-bg: var(--c-blue-0);
  --c-admonition-tip-bg: var(--c-green-0);
  --c-admonition-caution-bg: var(--c-orange-10);
  --c-admonition-danger-bg: var(--c-red-0);

  --c-admonition-code-note-bg: var(--c-yellow-30);
  --c-admonition-code-info-bg: var(--c-blue-10);
  --c-admonition-code-tip-bg: var(--c-green-20);
  --c-admonition-code-caution-bg: var(--c-orange-20);
  --c-admonition-code-danger-bg: var(--c-red-10);
}

html[data-theme='dark'] {
  --c-admonition-title: #fff;

  --c-admonition-note-bg: #241800;
  --c-admonition-info-bg: #000d24;
  --c-admonition-tip-bg: #00240a;
  --c-admonition-caution-bg: #240b00;
  --c-admonition-danger-bg: #240002;

  --c-admonition-code-note-bg: #3d2900;
  --c-admonition-code-info-bg: #00163d;
  --c-admonition-code-tip-bg: #003d11;
  --c-admonition-code-caution-bg: #3d1200;
  --c-admonition-code-danger-bg: #3d0003;
}

:root {
  --c-admonition-bar-note-bg: var(--c-yellow-80);
  --c-admonition-bar-info-bg: var(--c-blue-80);
  --c-admonition-bar-tip-bg: var(--c-green-80);
  --c-admonition-bar-caution-bg: var(--c-orange-80);
  --c-admonition-bar-danger-bg: var(--c-red-60);

  --c-admonition-link-note: var(--c-yellow-90);
  --c-admonition-link-info: var(--c-blue-90);
  --c-admonition-link-tip: var(--c-green-90);
  --c-admonition-link-caution: var(--c-orange-90);
  --c-admonition-link-danger: var(--c-red-90);
}

.alert {
  --ifm-link-decoration: none;
}

.theme-admonition {
  position: relative;
  border: none;

  --ifm-alert-color: var(--ifm-font-color-base);
  --ifm-alert-padding-horizontal: 2rem;
  --ifm-alert-padding-vertical: 1.5rem;

  &::before {
    content: '';
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    bottom: 0;
    width: 5px;
    background: var(--c-admonition-bar-bg);
    border-radius: 4px 0 0 4px;
  }
  &-note {
    --ifm-alert-background-color: var(--c-admonition-note-bg);
    --c-admonition-bar-bg: var(--c-admonition-bar-note-bg);
    --c-admonition-code-bg: var(--c-admonition-code-note-bg);
    --c-admonition-link: var(--c-admonition-link-note);
  }
  &-info {
    --ifm-alert-background-color: var(--c-admonition-info-bg);
    --c-admonition-bar-bg: var(--c-admonition-bar-info-bg);
    --c-admonition-code-bg: var(--c-admonition-code-info-bg);
    --c-admonition-link: var(--c-admonition-link-info);
  }
  &-tip {
    --ifm-alert-background-color: var(--c-admonition-tip-bg);
    --c-admonition-bar-bg: var(--c-admonition-bar-tip-bg);
    --c-admonition-code-bg: var(--c-admonition-code-tip-bg);
    --c-admonition-link: var(--c-admonition-link-tip);
  }
  &-caution {
    --ifm-alert-background-color: var(--c-admonition-caution-bg);
    --c-admonition-bar-bg: var(--c-admonition-bar-caution-bg);
    --c-admonition-code-bg: var(--c-admonition-code-caution-bg);
    --c-admonition-link: var(--c-admonition-link-caution);
  }
  &-danger {
    --ifm-alert-background-color: var(--c-admonition-danger-bg);
    --c-admonition-bar-bg: var(--c-admonition-bar-danger-bg);
    --c-admonition-code-bg: var(--c-admonition-code-danger-bg);
    --c-admonition-link: var(--c-admonition-link-danger);
  }
}

[class*='admonitionIcon_'] {
  display: none;
}

[class*='admonitionHeading_'] {
  color: var(--c-admonition-title);

  text-transform: capitalize;

  font-size: 1rem;
  font-weight: 600;
  line-height: 18px;
}

[class*='admonitionContent_'] {
  p {
    a {
      color: var(--c-admonition-link);

      transition: opacity 0.2s ease-out;

      &:hover {
        opacity: 0.8;
      }
    }

    code {
      background: var(--c-admonition-code-bg);
    }
  }
}
