html[data-theme='light'] {
  --c-sidebar-category: var(--c-gray-100);

  --ifm-menu-color-background-active: var(--c-blue-0);
  --ifm-menu-color: var(--c-indigo-80);
}

html[data-theme='dark'] {
  --c-sidebar-category: var(--c-gray-0);

  --ifm-menu-color: var(--c-gray-20);
}

:root {
  --doc-sidebar-width: 17.5rem;

  --dropdown-icon-width: 0.625rem;
  --dropdown-icon-height: 0.375rem;
  --dropdown-icon-gap: 0.688rem;

  --ifm-toc-border-color: var(--c-indigo-20);
  --ifm-menu-link-padding-vertical: 0.5rem;
  --ifm-menu-color-active: var(--ifm-link-color);

  --sidebar-spacing-horizontal: 1.5rem;
}

.theme-doc-sidebar-container {
  clip-path: unset;

  //TODO: abstract z-indices to css variables
  z-index: calc(var(--ifm-z-index-fixed) + 1);

  border-inline-end: 1px solid var(--token-divider-color);

  margin-block-start: 0rem;
}

[class^='sidebar_'] {
  max-height: 100%;
  // overflow-y: auto;

  padding-inline-start: var(--sidebar-spacing-horizontal);
  padding-inline-end: var(--sidebar-spacing-horizontal);
  padding-block-start: 1rem;

  .product-dropdown {
    margin-block-end: 2rem;
  }

  > .menu {
    @media (min-width: 997px) {
      margin-inline: calc(-1 * var(--sidebar-spacing-horizontal));
      padding-inline: var(--sidebar-spacing-horizontal);
    }

    overflow-y: auto;

    padding-block-end: 2rem;
    padding-block-start: 0;
  }

  .navbar__item {
    padding: 0;
  }
  .navbar__item > a,
  a.navbar__item {
    border: 1px solid var(--token-divider-color);
    border-radius: var(--ifm-global-radius);

    align-self: center;

    padding: 0.25rem 0.5rem;

    color: var(--c-navbar-link);

    &:hover,
    &:active,
    &:focus {
      &::before {
        content: '';
        position: absolute;
        left: -16px;
        right: -16px;
        top: -16px;
        bottom: -16px;
      }
    }

    .dropdown__menu {
      top: calc(100% + 1rem);
    }
  }
  a.navbar__item::after {
    display: none;
  }
}

.menu__list {
  display: block !important;
  transition: height 0.35s cubic-bezier(0.36, 0.66, 0.04, 1) 25ms !important;
  will-change: initial !important;

  margin: 0;

  .menu__list {
    .menu__link--sublist {
      margin-inline-start: calc(-1 * (var(--dropdown-icon-width) + var(--dropdown-icon-gap)));

      &::after {
        opacity: 0.6;
      }
    }
  }

  &-item {
    &:not(:first-child):not(.theme-doc-sidebar-item-category) {
      margin-block-start: 0;
    }
    .menu__list {
      .menu__link {
        padding-inline-start: calc(var(--dropdown-icon-width) + var(--dropdown-icon-gap));
      }
    }
  }
}

.menu__link {
  font-weight: 500;
  font-size: 0.813rem;
  line-height: 16px;
  /* identical to box height */

  display: flex;
  align-items: center;
  letter-spacing: -0.01em;

  transition: opacity 0.2s ease-out;

  &:not(.menu__link--active:not(.menu__link--sublist)) {
    background: initial;
  }

  &:not(.menu__link--active):not(.menu__link--sublist) {
    &:hover,
    &:active,
    &:focus {
      opacity: 0.7;
    }
  }
}

.menu__link--sublist {
  padding-inline-start: 0;
  padding-inline-end: 0;

  margin-block-end: 0;

  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: flex-end;

  &::after {
    background: var(--ifm-menu-link-sublist-icon) center / var(--dropdown-icon-width) var(--dropdown-icon-height);
    background-repeat: no-repeat;

    min-width: auto;

    width: var(--dropdown-icon-width);
    height: var(--dropdown-icon-height);

    margin-inline-end: var(--dropdown-icon-gap);
    margin-inline-start: 0;
    margin-block-end: 0;
  }
}

.theme-doc-sidebar-item-category-level-1 {
  + .theme-doc-sidebar-item-category-level-1 {
    margin-block-start: 1rem;
  }

  > .menu__list-item-collapsible {
    background: transparent;

    > .menu__link {
      color: var(--c-sidebar-category);

      font-weight: 600;
      font-size: 0.938rem;
      line-height: 100%;
    }
  }
}
