.theme-doc-version-banner {
  margin-block-end: 2rem;

  + [class*='docItemContainer_'] .theme-doc-version-badge {
    margin-block-start: -1rem;
  }
}

.theme-doc-version-badge {
  margin-block-end: 2rem;
}

[class*='docMainContainer_'] {
  > .container {
    margin-block-start: 2rem;

    > .row {
      justify-content: center;
    }
  }
}

.theme-doc-version-banner,
[class*='docItemContainer_'] {
  margin-inline: auto;

  max-width: 50rem;
}
