html[data-theme='light'] {
  --c-markdown-toc-list-item: var(--c-indigo-70);
  --c-markdown-text-intro: var(--c-carbon-80);
  --c-markdown-bold: var(--c-carbon-100);
}

html[data-theme='dark'] {
  --c-markdown-toc-list-item: #fff;
  --c-markdown-text-intro: var(--c-indigo-40);
  --c-markdown-bold: #fff;
}

.markdown {
  --ifm-heading-vertical-rhythm-bottom: 0.6;
  --ifm-heading-vertical-rhythm-top: 2;
  --ifm-h2-vertical-rhythm-top: 2.75;
  --ifm-h3-vertical-rhythm-top: 2.25;

  ul,
  ol {
    margin: 0 0 var(--ifm-list-margin);
    padding-left: var(--ifm-list-left-padding);
  }

  ul {
    list-style: disc;
  }

  ol {
    list-style: decimal;
  }

  strong,
  b {
    font-weight: 600;
    color: var(--c-markdown-bold);
  }

  //differentiate between inline code and code blocks
  code {
    font-size: 95%;
  }
  pre code {
    font-size: 0.813rem;
  }

  .encapsulation-pill {
    position: absolute;
    top: calc(var(--ifm-navbar-height) + 4rem);
  }

  > * {
    min-width: 0;
    max-width: 100%;
  }

  p,
  li,
  .tabs-container {
    line-height: 200%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    > a {
      color: inherit;
    }
  }

  h1 {
    margin-block-start: 2rem;
  }

  h2 + h3,
  h3 + h4,
  h4 + h5,
  h5 + h6 {
    margin-block-start: 1rem;
  }
}
